@use "../../assets/scss/" as *;

.filterChip {
    display: flex;
    width: max-content;
    align-items: center;
    box-sizing: border-box;
    height: 32px;
    padding: 0 0.75rem;
    border-radius: $size-8;
    background-color: $second-color;
    font-family: $font-text;
    .label {
        color: $darkish-gray;
        font-size: $text-size-14;

        margin: 0;
        font-weight: 500;
        line-height: 100%;
        vertical-align: middle;
        text-align: center;
    }
    .ico {
        color: $darkish-gray;
        font-size: 18px;
        opacity: 0;
        width: 0;
        transition:
            opacity 0.45s cubic-bezier(0.08, 0.82, 0.17, 1),
            width  0.45s cubic-bezier(0.08, 0.82, 0.17, 1);
    }
}
.active {
    scale: 1;
    padding-left: 0.5rem;
    gap: 0.25rem;
    .ico {
        opacity: 1;
        width: 18px;
        transition:
            opacity 0.45s cubic-bezier(0.08, 0.82, 0.17, 1),
            width 0.45s cubic-bezier(0.08, 0.82, 0.17, 1);
    }
}

.inactive {
    background-color: white;
    border: 1px solid $light-gray;
    color: $dark-gray;
    padding: 0 0.75rem;
}
