@use "../../assets/scss/" as *;

.filterChip {
    display: flex;
    width: fit-content;
    align-items: center;
    box-sizing: border-box;
    height: 32px;
    padding-left: 0.5rem;
    padding-right: 1rem;
    border-radius: $size-8;
    background-color: $second-color;
    gap: $size-8;
    transition: scale 0.3s ease-in-out;
    font-family: $font-text;
    font-size: $text-size-14;
    .ico {
        padding-top: 0.125rem;
    }
    .label {
        padding-top: 0.125rem;

        margin: 0;
        font-weight: 400;
        line-height: 100%;
        vertical-align: middle;
        text-align: center;
    }
}
.active {
    scale: 1;
    transition: scale 0.3s ease-in-out;
}

.inactive {
    background-color: white;
    border: 1px solid $light-gray;
    color: $medium-gray;
}
