@use "../../assets/scss/" as *;

.pageBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $size-24;
  background-color: $main-color;
  height: 100%;
  color: $darkest-gray;
  gap: $size-20;
  font-size: $text-size-16;
}

.container {
  display: grid;
  place-items: center;
  gap: $size-16;
  width: $width-320;
  height: fit-content;
  box-sizing: border-box;

  .signupBtn {
    width: 12rem;
    text-align: center;
    border-radius: $size-24;
    height: $height-40;
    background-color: transparent;
    border: 2px solid $green;
    box-shadow: 0px 4px 8px $green;
    text-decoration: none;
    color: $darkest-gray;
    font-size: $text-size-16;
    color: $accent-color;
  }

  .loginBtn {
    width: 12rem;
    text-align: center;
    border-radius: $size-24;
    height: $height-40;
    background-color: $green;
    color: $accent-color;
    border: none;
    box-shadow: 0px 4px 8px $green;
    text-decoration: none;
    color: $darkest-gray;
    font-size: $text-size-16;
    color: $accent-color;
  }

  .text {
    padding-top: $size-16;
    width: 10rem;
    border-top: 2px solid $dark-gray;
    text-align: center;
  }
}
