.recipeCard {
    display: block;
    padding: 0;
    padding: 0.5rem;
    border-radius: 1rem;
    box-sizing: border-box;
    box-shadow: 0 0 3px rgba($color: #000000, $alpha: 0.2);
    text-decoration: none;
    color: inherit;
    .topItems {
        position: relative;
        width: 100%;
        height: calc(100vw * 0.5);
        min-height: 12rem;
        border-radius: 0.75rem;
        overflow: hidden;
        border: 1px solid #f7f3f2;
        box-sizing: border-box;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .favIcon {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4rem;
            width: 4rem;
        }
    }
    .bottomItems {
        font-family: "Puritan", sans-serif;
        font-weight: 700;
        font-size: 1.25;
        line-height: 120%;
        padding: 1rem 0.5rem 0.5rem 0.5rem;
        p {
            margin: 0;
            padding: 0;
        }
    }
}

/* stato icona favorite */
.notFav {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    color: white;
    transition: scale, 0.3s ease-in-out;
}
.isFav {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    color: #fa4d56;
    scale: 1.25;
    transition: scale, 0.3s ease-in-out;
}
