@use "../../assets/scss/" as *;

.ingredientSuggestion {
    margin: 0;
    padding: 1rem;
    font-size: $text-size-14;
    background-color: $third-color;
    border-top: 1px solid #ece9e8;
}
.active {
    color: $darkish-gray;
}
.inactive {
    color: rgb(198, 198, 198);
}
