@use "../../assets/scss/" as *;

.ingredientCard {
    width: 100%;
    height: 0;
    flex-grow: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    border-radius: 2rem;
    .leftItems {
        display: flex;
        align-items: center;
        height: 100%;
    }
    p {
        line-height: 110%;
        align-content: center;
        font-family: "Puritan";
        font-size: $size-20;
        color: $dark-gray;
    }
    .checkIco {
        margin-right: 1rem;
        color: $dark-gray;
    }
}

.unselected {
    outline: 1px solid #ece9e8;
    .checkIco {
        transform: translateX(-2.5rem);
        scale: 0.1;
        width: 0;
        opacity: 0;
        transition:
            scale,
            opacity,
            0.3s ease-in-out;
    }
    p {
        transition:
            scale,
            opacity,
            0.3s ease-in-out;
    }
}
.selected {
    outline: 3px solid $darkish-gray;
    outline-offset: -2px;
    transition:
        font-size,
        font-weight,
        0.3s ease-out;
    p {
        font-size: 1.5rem;
        transition:
            font-size,
            0.3s ease;
    }
    .checkIco {
        transform: translateX(0);
        width: 1.5rem;
        opacity: 1;
        transition:
            font-size,
            0.2s ease-in-out;
    }
}

.rightItems {
    display: flex;
    align-content: center;
    gap: 0.5rem;
}
.rightIco {
    color: $darkish-gray;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}