.ingredientCard {
    width: 100%;
    height: 100%;
    border-radius: 1.5rem;
    overflow: hidden;
    box-sizing: border-box;
}
.header {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0.5rem 1rem 1rem;
    flex-grow: 1;
    .leftItems {
        display: flex;
        align-items: center;
    }
    textarea {
        line-height: 100%;
        align-content: center;
        margin: 0;
        border: none;
        font-family: "Puritan";
        font-size: 1.25rem;
        background-color: transparent;
        max-width: 11rem;
        resize: none;
    }
    & :focus {
        outline: none;
    }
    .checkIco {
        margin-right: 1rem;
        color: #3c3838;
    }
}
.unselected {
    outline: 1px solid #ece9e8;
    .checkIco {
        transform: translate(-1.5rem);
        scale: 0.1;
        width: 1px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    textarea {
        transition: all 0.3s ease-in-out;
    }
}
.selected {
    textarea {
        font-size: 1.5rem;
        font-weight: 700;
        transition: all 0.3s ease-in-out;
    }
    scale: 1;
    font-size: 1.5rem;
    font-weight: 700;
    outline: 4px solid #565151;
    outline-offset: -4px;
    .checkIco {
        width: 1.5rem;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}
.closeIco {
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
