@use "../../assets/scss/" as *;

.discoveryPreview {
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: $size-20;
    padding-top: 0;
    box-sizing: border-box;

    height: 100%;
    overflow: hidden;

    transform: translateX(65%);
    transition: transform .3s ease-in-out;
}

.discoveryPreview .mainContent {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    height: 0;
    flex-grow:1;
    object-fit: contain;
    box-sizing: border-box;
}
.discoveryPreview .mainContent h2 {
    font-size: $size-24;
    color: $darkish-gray;
    font-family: $font-title;
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.discoveryPreview .mainContent h2 span {
    background-color: #00A538;
    color: white;
    padding: 0 .5rem;
    border-radius: .5rem;
}

.discoveryPreview .mainContent > svg {
    width: 100%;
    height: 0;
    flex-grow: 1;

    border-radius: 1.5rem;
    background-color: $accent-color;
    padding: 2rem;
    padding-bottom: 0;
    box-sizing: border-box;
    margin: 0;

    border: 1px solid $light-gray;
}

.discoveryPreview .mainContent p {
    margin: 0;
    font-weight: 500;
}
.discoveryPreview .mainContent .cta {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    color: white;
    background-color: #00A538;

    height: 120px;
    min-height: 120px;
    padding: 1rem;
    border-radius: 60px;
    box-sizing: border-box;
}

.discoveryPreview .mainContent .button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    color: #007E2B;
    background-color: white;

    height: 3rem;
    padding: 1rem;
    border-radius: 60px;
    box-sizing: border-box;

    border: 1px solid #007E2B;
}

.discoveryPreviewAnimate{
    transform: translateX(0);
    transition: transform .3s ease-in-out;
}