@use "../../assets/scss/" as *;

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-start;

    padding: $size-24 0;
    z-index: 1000;
    animation: fadeIn 0.5s;
    box-sizing: border-box;
}

.popup {
    display: flex;
    flex-direction: column;
    gap: $size-8;
    height: fit-content;
    animation: slideUp 0.5s;
    //fixa il popup che non si chiude e permette comunque di scrollare quando necessario 
    //centra vericalmente e orizzontalmente quindi ho tolto i justify-content e align items
    margin: auto; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
