@use "../../assets/scss/" as *;

.recipesResultsPage {
    transform: translateX(50%);
    transition: transform 0.3s ease-in-out;

    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    padding: 0 $size-20;
    padding-bottom: $size-24;
    font-size: $text-size-16;
    font-style: $font-text;
    color: $darkest-gray;

    overflow-y: scroll;
    gap: .75rem;
}
.recipesResultsPage .search {
    position: relative;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
}
.subHeading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
        margin: 0;
    }
    box-sizing: border-box;
    .text {
        font-weight: 700;
    }
    .chipWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: $size-8;
        box-sizing: border-box;
        width: 100%;
    }
}

.resultsWrapper {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    gap: $size-20;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

.animateFavorite {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
