@use "../../assets/scss/" as *;

.recipesResultsPage {
  transform: translateX(50%);
  transition: transform .3s ease-in-out;

  background-color: $third-color;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 0 $size-24;
  font-size: $text-size-16;
  font-style: $font-text;
  color: $darkest-gray;
}

.subHeading {
  box-sizing: border-box;
  .text {
    font-weight: 700;
  }

  .chipWrapper {
    display: flex;
    flex-direction: row;
    gap: $size-8;
    box-sizing: border-box;
    width: 100%;
  }
}

.resultsWrapper {
  display: grid;
  grid-template-rows: repeat(auto, 1fr);
  gap: $size-16;
  margin-top: $size-24;
  box-sizing: border-box;
  width: 100%;
  height: fit-content;
}

.animateFavorite {
  transform: translateX(0);
  transition: transform .3s ease-in-out;
}
