@use "../../assets/scss/" as *;

.recipesResultsPage {
    scale: 0.8;
    transition: scale 0.45s cubic-bezier(0.08, 0.82, 0.17, 1);

    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-height: 100%;
    box-sizing: border-box;
    padding: 0 $size-20;
    font-size: $text-size-16;
    font-style: $font-text;
    color: $darkest-gray;
    padding-bottom: 0;
    overflow: hidden;
    padding-top: 2.75rem;
    gap: 0.75rem;
}
.recipesResultsPage .search {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    gap: 0.5rem;
}
.subHeading {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    p {
        margin: 0;
    }
    box-sizing: border-box;
    .text {
        font-weight: 700;
    }
    .chipWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: $size-8;
        box-sizing: border-box;
        width: 100%;
    }
}

.recipesWrapper::-webkit-scrollbar {
    width: 0;
}

.recipesWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: $size-20;
    box-sizing: border-box;
    padding: 0 1px;
    padding-bottom: 2rem;
    width: 100%;
    height: 100%;
    overflow: visible;
    overflow-y: scroll;
}
.placeholder {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 100%;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
    overflow: hidden;
    padding: 1.5rem;
    .placeholderImage {
        box-sizing: border-box;
        padding: 1rem;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 1.5rem;
        svg {
            object-fit: contain;
            height: 100%;
            width: 100%;
        }
    }
}

.placeholder h2 {
    color: $dark-gray;
    padding: 0;
    margin: 0;
    text-align: center;

    font-family: $font-title;
    font-weight: 700;
    font-size: $size-20;
    span {
        background-color: #f1c21b;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        color: white;
    }
}
.animateFavorite {
    scale: 1;
    transition: scale 0.45s cubic-bezier(0.08, 0.82, 0.17, 1);
}
