@use "../../assets/scss" as *;

.recipeCard {
    display: block;
    width: 100%;
    background-color: white;
    border-radius: $size-16;
    box-sizing: border-box;
    outline: 1px solid $light-gray;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    .topItems {
        position: relative;
        width: 100%;
        height: calc(100vw * 0.5);
        min-height: 12rem;
        overflow: hidden;
        outline: 2px solid $lighter-gray;
        box-sizing: border-box;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .favIcon {
            position: absolute;
            right: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4rem;
            width: 4rem;
        }
    }
    .bottomItems {
        display: flex;
        box-sizing: border-box;
        flex-direction: column;
        gap: $size-8;
        width: 100%;
        font-family: $font-title;
        font-weight: bold;
        letter-spacing: 0.025rem;
        font-size: $size-20;
        line-height: 120%;
        padding: .75rem;
        padding-top: $size-16;
        .chipsWrapper {
            display: flex;
            flex-wrap: wrap;
            gap: $size-8;
        }
        .title {
            margin: 0;
            padding: 0;
            padding-left: .25rem;
        }
    }
}

/* stato icona favorite */
.notFav {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    color: white;
    transition:
        scale,
        0.3s ease-in-out;
}
.isFav {
    font-variation-settings:
        "FILL" 1,
        "wght" 400,
        "GRAD" 0,
        "opsz" 24;
    color: #fa4d56;
    scale: 1.25;
    transition:
        scale,
        0.3s ease-in-out;
}
