@use "../../assets/scss/" as *;

.pageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: $second-color;
    width: 100%;
    height: 100%;
    color: $darkest-gray;
    padding: $size-24;
    box-sizing: border-box;
    overflow-y: scroll;
    border-radius: 3rem;
    gap: 1.25rem;

    scale: 0.8;
    transition:
        scale 0.45s cubic-bezier(0.08, 0.82, 0.17, 1),
        border-radius 0.45s cubic-bezier(0.08, 0.82, 0.17, 1);}

.animateLoginPage {
    border-radius: 0;
    scale: 1;
    transition:
        scale 0.45s cubic-bezier(0.08, 0.82, 0.17, 1),
        border-radius 0.45s cubic-bezier(0.08, 0.82, 0.17, 1);
}

.pageBox h2 {
    font-size: $text-size-24;
    color: $dark-gray;
    font-family: $font-title;
    text-align: center;
    font-weight: bold;
    margin: 0;
    line-height: 120%;
}
.pageBox h2 span {
    background-color: #00a55b;
    color: white;
    padding: 0 .5rem;
    border-radius: .5rem;
}