@use "../../assets/scss/" as *;

.backgroundOverlay {
    position: fixed;
    z-index: 12;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;

    transform: translateX(100%);

    background-color: rgba($color: $darkest-gray, $alpha: 0.2);
    opacity: 0;

    transition: opacity 0.3s ease;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    z-index: 13;

    position: fixed;
    bottom: 0;
    right: 0;

    box-sizing: border-box;
    height: 100%;
    width: $width-360;
    max-width: 90%;

    background-color: white;
    border-radius: $size-24 0 0 $size-24;

    transform: translateX($width-360);
    opacity: 0;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;

    header {
        padding: 0 $size-24;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: $height-80;
        border-bottom: 1px solid $light-gray;
        h2 {
            font-family: $header-text;
            color: $dark-gray;
            font-weight: 600;
        }
        .rightItems {
            display: flex;
            align-items: center;
            gap: 1rem;
        }
        .closeIco {
            color: $darkish-gray;
            display: flex;
            box-sizing: border-box;
            align-items: center;
            background-color: transparent;
            border: none;
            height: 2rem;
            width: 2rem;
        }
        .deselectAllButton {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            font-size: $text-size-14;
            width: fit-content;
            height: $height-40;
            color: $dark-gray;
            font-weight: 600;
            border: 1px solid #e5e0df;
            border-radius: $size-20;
            background-color: white;
            padding: 0 $size-16;
        }
    }
    .sidebarBody {
        display: flex;
        flex-direction: column;
        padding: $size-16;
        gap: 1.5rem;
        box-sizing: border-box;
        padding-bottom: $size-24;
        overflow-y: scroll;
        h4 {
            color: $dark-gray;
            margin: 0;
            margin-bottom: $size-8;
        }
        .switchesWrapper {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
        }
    }
}

.filterChipWrapper {
    display: flex;
    gap: $size-8;
    flex-wrap: wrap;
}

.backgroundOverlayToggled {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.3s ease;
}
.sidebarToggled {
    transform: translateX(0);
    opacity: 1;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}
