@use "../../assets/scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Poetsen+One&display=swap");

.meriendaBold {
    font-size: $text-size-32;
    margin: 0;
    margin-bottom: 1rem;
    font-family: $font-logo;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
