@use "../../assets/scss/" as *;

.backgroundOverlay {
    position: fixed;
    z-index: 12;

    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    transform: translateX(100%);

    background-color: rgba($color: $darkest-gray, $alpha: 0.2);
    opacity: 0;

    transition: opacity 0.4s ease;
}
.sidebar {
    z-index: 13;

    position: fixed;
    bottom: 0;
    right: 0;

    box-sizing: border-box;
    height: 100%;
    width: $width-360;
    max-width: 90%;

    background-color: white;
    border-radius: $size-24 0 0 $size-24 ;

    transform: translateX($width-360);
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;

    header {
        padding: $size-24 $size-16 0 $size-24;
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        h4 {
            margin: 0;
            color: $dark-gray;
            font-family: $header-text;
            letter-spacing: 0.05rem;
            font-size: $text-size-16;
        }
        .closeIco {
            color: $dark-gray;
            display: flex;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            border: none;
            height: 2rem;
            width: 2rem;
            svg{
                stroke-width: .5px;
                stroke: $dark-gray;
            }
        }
    }
    .links {
        padding: 0.75rem;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;
        .link {
            width: 75%;
            font-family: $header-text;
            border-radius: 2rem;
            font-size: $size-16;
            font-weight: 500;
            text-decoration: none;
            color: $dark-gray;
            display: flex;
            align-items: center;
            gap: 0.75rem;
            height: 3.5rem;
            padding: 0 $size-16;
            letter-spacing: 0.025rem;
            transition: width 0.4s ease;
        }
        .activeLink {
            background-color: $second-color;
            transition: width 0.4s ease;
            width: 100%;
            box-sizing: border-box;
        }
    }

    .logoutBtn {
        display: flex;
        justify-content: center;
        padding: $size-24;
    }
}

.backgroundOverlayToggled {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.5s ease;
}
.sidebarToggled {
    box-shadow: 0 0 20px rgba($color: #000000, $alpha: 0.2);
    transform: translateX(0);
    opacity: 1;
    transition:
        transform 0.4s ease,
        opacity 0.4s ease;
}

.sidebar .separator {
    width: 100%;
    height: 1px;
    background-color: $light-gray;
    margin: .5rem 0;
    box-sizing: border-box;
}
