@use "../../../assets/scss/" as *;

.search {
    z-index: 1;
    position: relative;
    width: 100%;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
    left: 0;
    transition: height .3s ease, width .3s ease;

}
.searchBar {
    position: relative;

    display: flex;
    align-items: center;

    width: 100%;
    height: 2.5rem;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
    transition: height .3s ease, width .3s ease;

    input {
        position: absolute;

        display: flex;
        align-items: center;

        font-family: inherit;
        font-size: $text-size-16;
        line-height: 120%;

        width: 100%;
        height: 100%;
        padding: 0;
        padding-left: $size-24;
        box-sizing: border-box;

        border: none;
        background-color: transparent;
    }
    ::placeholder {
        color: $medium-gray;
        line-height: 120%;
    }
    :focus {
        outline: none;
    }
    .ico {
        color: $darkish-gray;
        position: absolute;
        height: 2rem;
        width: 2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: .125rem;
        top: 50%;
        transform: translateY(-48%);
    }
    .searchIco {
        right: 0.5rem;

    }
    .closeIco {
        right: 0.5em;
        background-color: transparent;
        border: none;
    }
}

.inputInactive {
    background-color: #F8FFF8;
    border-radius: $size-24;
    outline: 1px solid $light-gray;
    outline-offset: -2px;
    transition: border-radius 0.3s ease;

}

.inputActive {
    border-radius: $size-24 $size-24 0 0;
    background-color: #D3E4C5;
    transition: border-radius 0.3s ease;
}
.positionFixed {
    position: absolute;
    z-index: 11;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 102%;
    border-radius: $size-24;
    outline: 1px solid $light-gray;
    outline-offset: -2px;
    transition: height .3s ease, width .3s ease;
}