@use "../../../assets/scss/" as *;

.pageBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    height: 100%;
    color: $darkest-gray;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    place-items: center;
    background-color: $accent-color;
    box-sizing: border-box;
    border-radius: $size-24;
    width: $width-320;
    height: fit-content;
    font-size: $text-size-14;
}

.title {
    place-self: center;
    text-align: start;
    width: 100%;
    box-sizing: border-box;
    font-size: $text-size-20;
    padding: 1.5rem;
    padding-bottom: 0;
    h1 {
        margin: 0;
    }
}

.formBox {
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    display: grid;
    gap: 1rem;
    padding-top: $size-16;
    padding-bottom: 0;
    p {
      margin:0;
  }
    .inputBox {
        display: grid;
        place-self: start;
        width: 100%;

        input {
            border-radius: $size-24;
            border: 1px ridge $light-gray;
            height: $height-40;
            box-sizing: border-box;
            padding-left: $size-16;
        }

        ::placeholder {
            font-size: $text-size-12;
            color: $medium-light-gray;
        }

        label {
            display: block;
            padding: $size-8 0;
            font-size: $text-size-16;
        }

        .passwordIcon {
            border: none;
            width: 2rem;
            height: 2rem;
            background-color: transparent;
            position: relative;
            bottom: 110%;
            left: 85%;
            color: $medium-light-gray;
        }
    }

    .loginBtn {
        width: 100%;
        background-color: $main-color;
        place-self: center;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        text-align: center;
        gap: 0.5rem;
        border-radius: $size-24;
        height: fit-content;
        width: 10rem;
        padding: $size-8;
        color: $darkest-gray;
        font-weight: 600;
        border: none;
    }

    p {
        font-size: $text-size-14;
    }
}

.loginBtnBox {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
}
