.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  place-items: center;
  background-color: rgba(255, 236, 201, 1);
  box-sizing: border-box;
  border-radius: 1.5em;
  width: 19.5em;
  height: fit-content;
  font-size: 0.85em;
}

.title {
  grid-row: 1 / 2;
  place-self: center;
  text-align: start;
  width: 17em;
  box-sizing: border-box;
  font-size: 1em;
  border-bottom: 1px solid rgba(28, 27, 31, 0.603);
}

.formBox {
  grid-row: 2 / 3;
  display: grid;
  gap: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgba(28, 27, 31, 0.603);

  .inputBox {
    display: grid;
    place-self: start;
    width: 17em;

    input {
      border-radius: 1.5em;
      border: 1px ridge grey;
      height: fit-content;
      box-sizing: border-box;
      padding: 0.5em;
      font-style: oblique;
    }

    ::placeholder {
      font-size: 0.8em;
    }

    label {
      display: block;
      padding: 0.3em;
    }
  }

  .loginBtn {
    background-color: rgba(245, 222, 98, 1);
    border-radius: 1.5em;
    height: fit-content;
    width: 13em;
    padding: 0.5em;
    color: rgba(28, 27, 31, 1);
    border: none;
    place-self: center;
  }
}

.iconsBox {
  grid-row: 3 / 4;
  place-items: center;
  box-sizing: border-box;
  height: fit-content;
}
