@use "../../assets/scss/" as *;

.favoritePage {
    transform: translateX(50%);
    transition: transform 0.3s ease-in-out;

    overflow-y: scroll;

    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: $size-16;
    width: 100%;
    box-sizing: border-box;
    padding: 1px $size-20 2rem;
    border-radius: 0;
    .search {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        gap: $size-8;
    }
    .recipesWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: $size-20;
    }
}

.animateFavorite {
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}
