@use "../../assets/scss/" as *;

.favoritePage {
    scale: 0.8;
    transition: scale 0.45s cubic-bezier(0.08, 0.82, 0.17, 1);

    overflow-y: scroll;

    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: $size-16;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2.75rem $size-20 $size-20;
    border-radius: 0;
    .search {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        display: flex;
        gap: $size-8;
    }
    .recipesWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        gap: $size-20;
    }
}

.placeholder {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    flex-grow: 1;
    max-height: 100%;
    justify-content: center;
    gap: 2rem;
    box-sizing: border-box;
    padding: 1.5rem;
    .placeholderImage {
        box-sizing: border-box;
        padding: 0 1rem;
        width: 100%;
        height: 10%;
        flex-grow: 1;
        svg {
            object-fit: contain;
            width: 100%;
            height: 100%;
        }
    }
}
.placeholderSearch {
    padding: 2rem 0;
    justify-content: flex-start;
    .placeholderImage {
        padding-top: 0;
    }
}
.placeholder h2 {
    color: $dark-gray;
    padding: 0;
    margin: 0;
    text-align: center;

    font-family: $font-title;
    font-weight: 700;
    font-size: $size-20;
    line-height: 130%;
    span {
        background-color: #00a538;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        color: white;
    }
}
.placeholder .cta {
    position: fixed;
    bottom: 1.5rem;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-weight: 600;
    letter-spacing: .025rem;
    font-family: $header-text;
    font-size: $size-16;

    text-decoration: none;
    color: white;
    background-color: #00a538;
    border: none;

    height: 100px;
    padding: 1rem;
    border-radius: 1.25rem;
    box-sizing: border-box;
}

.animateFavorite {
    scale: 1;
    transition: scale 0.45s cubic-bezier(0.08, 0.82, 0.17, 1);
}
