@use "../../assets/scss/" as *;

.preferencesPage {
    
    transition: scale 0.45s cubic-bezier(0.08,0.82,0.17,1);

    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: $size-16;
    padding-top: 0;
    .fakeContent {
        width: 100%;
        height: $height-80;
        background-color: $second-color;
        border-radius: $size-16;
        margin-bottom: $size-16;
    }
    
}
.animateSettings {
    scale: 1;
    transition: scale 0.45s cubic-bezier(0.08,0.82,0.17,1);
}

.bottomButtons {
    display: flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 0.75rem 0;

}

.description{
    font-family: "Poppins";
    font-size: 0.8rem;
    font-weight: 500;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 0.5rem;
    padding: 0 1rem;
    font-size: $text-size-14;
    min-width: max-content;
    height: $height-40;
    color: white;
    font-weight: 500;
    font-family: $header-text;
    border: 1px solid #e5e0df;
    border-radius: 1.5rem;
    background-color:$green;
}
.button:active {
    background-color: $second-color;
}