@import url(./root.css);

body {
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    border: 1px solid;
}
#root {

    height: 100%;
    box-sizing: border-box;
    border: solid;
}
.appContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
.bottomNav {
    background-color: white;
}
.pageLink {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    border: 1px gray solid;
}
