@use "./assets/scss/" as *;
@import url(./root.css);

#root {
    height: 100svh;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}
.appContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}