@use "./assets/scss/" as *;
@import url(./root.css);

body {
    margin: 0;
    box-sizing: border-box;
    height: 100svh;
    width: 100vw;
}
#root {
    height: 100%;
    box-sizing: border-box;
}
.appContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}
.bottomNav {
    background-color: white;
    display: flex;
    height: 5rem;
    min-height: 5rem;
    width: 100%;
    box-sizing: border-box;
    outline: 1px solid #E5E0DF;
}
.pageLink {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: inherit;
    padding: 1rem;
    text-align: center;
    width: 100%;
}
