@use "./assets/scss/" as *;
@import url(./root.css);

body {
    margin: 0;
    box-sizing: border-box;
    height: 100svh;
    width: 100vw;
}

.appContainer {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
}