@use "../../../assets/scss/" as *;

.container {
    display: flex;
    flex-direction: column;
    background-color: $accent-color;
    box-sizing: border-box;
    border-radius: $size-16;
    width: 100%;
    font-size: $text-size-14;
    animation: fadeIn 0.5s ease-in-out forwards
}

.title {
    box-sizing: border-box;
    width: 100%;
    font-size: $text-size-20;
    padding: 1.5rem;
    padding-bottom: 0;
    h1 {
        margin: 0;
    }
}

.formBox {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0 1.5rem;
    padding-bottom: 1.5rem;
    box-sizing: border-box;
    gap: 1rem;

    .inputBox {
        display: flex;
        flex-direction: column;
        place-self: start;
        width: 100%;

        input {
            display: flex;
            align-items: center;
            align-content: center;
            width: 100%;
            border-radius: $size-24;
            border: 1px ridge $light-gray;
            height: 3rem;
            box-sizing: border-box;
            padding-left: $size-16;
            font-size: $text-size-16;
            font-family: $header-text;
        }
        ::placeholder {
          font-size: $text-size-16;
          color: $medium-light-gray;
        }

        label {
            font-family: $font-text;
            display: block;
            padding-top: .75rem;
            padding-bottom: 0.5rem;
            padding-left: 0.25rem;
            font-size: $text-size-16;
            font-family: $header-text;
            font-weight: 500;
            color: $dark-gray;
        }

        .checkLabel {
            font-size: $text-size-14;
            display: flex;
            align-items: center;
            gap: 0.2em;
            padding-bottom: 0;
            span {
                text-decoration: underline;
            }
            input {
                height: fit-content;
                width: fit-content;
            }
        }
    }
}

.buttonsWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.75rem;
}
