.pageBox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, auto);
  place-items: center;
  margin: 0;
  background-color: rgba(252, 194, 95, 1);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  place-items: center;
  background-color: rgba(253, 225, 175, 1);
  box-sizing: border-box;
  border-radius: 1.5em;
  width: 19.5em;
  height: fit-content;
  font-size: 0.85em;
}

.title {
  grid-row: 1 / 2;
  place-self: center;
  text-align: start;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(28, 27, 31, 0.603);
  width: 17em;
  font-size: 1em;
}

.formBox {
  grid-row: 2 / 3;
  display: grid;
  padding-bottom: 2em;
  padding-top: 1em;
  .inputBox {
    display: grid;
    place-self: start;
    width: 17em;

    input {
      border-radius: 1.5em;
      border: 1px ridge grey;
      height: fit-content;
      box-sizing: border-box;
      padding: 0.5em;
      font-style: oblique;
    }

    ::placeholder {
      font-size: 0.8em;
    }

    label {
      display: block;
      padding: 0.3em;
    }

    .checkLabel {
      font-size: 0.8em;
      display: flex;
      align-items: center;
      gap: 0.2em;

      span {
        text-decoration: underline;
        color: blue;
      }
    }
  }

  .signupBtn {
    place-self: center;
    width: 13em;
    border-radius: 1.5em;
    height: fit-content;
    padding: 0.5em;
    background-color: rgba(245, 222, 98, 1);
    color: rgba(28, 27, 31, 1);
    border: none;
    margin-top: 1em;
    font-weight: 600;
    text-align: center;
  }
}
