.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, auto);
    place-items: center;
    background-color: rgba(255, 236, 201, 1);
    box-sizing: border-box;
    border-radius: 1.5em;
    width: 19.5em;
    height: fit-content;
}