@use "../../assets/scss" as *;

.discoveryPage {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 $size-16;
    overflow: hidden;
    header {
        display: flex;
        align-items: center;
        padding: 1rem 0 0.5rem 0;
        gap: 1rem;
        h1 {
            color: $dark-gray;
            font-weight: 600;
            margin: 0;
        }
        .menu {
            display: flex;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
            color: $dark-gray;
            border: none;
            background-color: transparent;
        }
    }
    .ingredientsWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-height: 100%;
        box-sizing: border-box;
        gap: 0.75rem;
        align-items: center;
        padding-top: 3.25rem;
        .globalActions {
            position: absolute;
            top: 0;
            display: flex;
            width: 100%;
            box-sizing: border-box;
            gap: 0.75rem;
            .icoButton {
                display: flex;
                align-items: center;
                align-items: center;
                justify-content: center;
                height: $height-40;
                width: $height-40;
                min-width: $height-40;
                color: $dark-gray;
                font-weight: 600;
                border: 1px solid #e5e0df;
                border-radius: $size-20;
                background-color: white;
                font-size: 18px;
            }
        }
    }
    .bottomButtons {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 1rem 0 1.25rem 0;
        .cycleButton {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            min-width: 56px;
            box-sizing: border-box;
            padding-top: 2px;
            border: none;
            border-radius: 2.5rem;
            color: #3c3838;
            background-color: #87c38f;
        }
        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.5rem;
            font-size: $text-size-14;
            width: 100%;
            min-width: max-content;
            height: 48px;
            color: #3c3838;
            font-weight: 600;
            border: 1px solid #e5e0df;
            border-radius: 2.5rem;
            background-color: white;
        }
        .disabled {
            background-color: $lighter-gray;
            color: $medium-gray;
        }
    }
}
