@use "../../assets/scss" as *;

.discoveryPage {
    scale: .8;
    transition: scale 0.45s cubic-bezier(0.08,0.82,0.17,1);

    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 $size-20;
    overflow: hidden;
    .contentWrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        max-height: 100%;
        box-sizing: border-box;
        align-items: center;
        padding-top: 3.25rem;
        .globalActions {
            position: absolute;
            top: 0;
            display: flex;
            width: 100%;
            box-sizing: border-box;
            gap: 0.5rem;
            align-items: center;
            .icoButton {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 3rem;
                width: 3rem;
                min-width: 3rem;
                color: $dark-gray;
                font-weight: 600;
                border: 1px solid #e5e0df;
                border-radius: $size-24;
                background-color: white;
                font-size: 18px;
            }
        }
        .ingredientsWrapper {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            max-height: 100%;
            box-sizing: border-box;
            align-items: center;
            gap: 0.375rem;
        }
    }
    .bottomButtons {
        display: flex;
        width: 100%;
        box-sizing: border-box;
        gap: 1rem;
        align-items: center;
        justify-content: center;
        padding: 0.75rem 0;
        .cycleButton {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            min-width: 56px;
            box-sizing: border-box;
            padding-top: 2px;
            border: none;
            border-radius: 2rem;
            color: white;
            background: linear-gradient(87deg, rgba(0, 200, 99, 1) 0%, rgba(4, 171, 160, 1) 100%, rgba(0, 138, 165, 1) 100%);
            transition:
                scale 0.2s ease-in-out,
                transform 0.2s ease-in-out;
        }
    }
}
.cycleButtonAnimation {
    scale: 1.05;
    transform: rotate(90deg);
    transition:
        scale 0.2s ease-in-out,
        transform 0.2s ease-in-out;
}
.animateDiscovery {
    scale: 1;
    transition: scale 0.45s cubic-bezier(0.08,0.82,0.17,1);
}
