.ingredientsWrapper {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 1rem;
    gap: 1rem;
    align-items: center;
    overflow: hidden;
    h1 {
        margin: 0;
        margin-top: 1rem;
    }
}

.bottomButtons {
    display: flex;
    width: 100%;
    gap: 1rem;
    align-items: center;
    .cycleButton {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 3.5rem;
        min-width: 3.5rem;
        box-sizing: border-box;
        padding-top: 2px;
        border: none;
        border-radius: 1.75rem;
        color: #3c3838;
        background-color: #87c38f;
    }
    .sideButton {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        font-size: 0.875rem;
        padding: 1rem;
        width: 100%;
        height: fit-content;
        color: #3c3838;
        font-weight: 600;
        border: 1px solid #e5e0df;
        border-radius: 2.5rem;
        background-color: white;
    }
}
