@use "../../../assets/scss/" as *;

.suggestions {
    z-index: 11;
    top: 3rem;

    width: 100%;
    height: 0;
    padding: 0 0.75rem;
    box-sizing: border-box;
    opacity: 1;
    background-color: white;
    overflow-y: scroll;
    overscroll-behavior: contain;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;

    transition:
        opacity 0.3s ease,
        padding 0.3s ease,
        height 0.3s ease;
    .activeSuggestion {
        color: $dark-gray;
    }
    .inactiveSuggestion {
        color: rgb(198, 198, 198);
    }
}
.activeSuggestion:hover {
    background-color: $second-color;
}
.activeSuggestion:active {
    background-color: $second-color;
}
.active {
    opacity: 1;
    padding: 0.75rem;
    height: 100%;
    padding-bottom: 3rem;
    box-sizing: border-box;
    transition:
        opacity 0.4s ease,
        padding 0.4s ease,
        height 0.4s ease;
}

.ingredientSuggestion {
    font-family: $header-text;
    border-radius: 1rem;
    width: 100%;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
    padding: 0 1rem;
    font-size: $text-size-14;
    background-color: white;
    box-sizing: border-box;
    font-weight: 500;
}
.lockedSuggestion {
    color: $dark-gray;
    background-color: $second-color;
}
.ingredientSuggestion:hover {
    cursor: pointer;
}

.placeholder {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    box-sizing: border-box;
    overflow: hidden;
    gap: 1.5rem;
    padding: 1rem;
    .placeholderImage {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        padding: 2rem;
        padding-top: 0;
        padding-bottom: 0;
        border-radius: 1.5rem;
        overflow: hidden;
        > img {
            object-fit: cover;
            max-height: 100%;
            max-width: 100%;
        }
    }
}

.placeholder h2 {
    color: $dark-gray;
    padding: 0;
    margin: 0;
    text-align: center;

    font-family: $font-title;
    font-weight: 700;
    font-size: $size-20;
    span {
        background-color: #da1e28;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        color: white;
    }
}
