@use "../../../assets/scss/" as *;

.suggestions {
    opacity: 0;
    height: 0;
    background-color: $third-color;
    top: 3rem;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    border-radius: 0 0 $size-24 $size-24;
    outline: 1px solid $lighter-gray;
    outline-offset: -2px;
    transition:
        height,
        opacity,
        0.3s ease;
    .activeSuggestion {
        color: $darkish-gray;
    }
    .inactiveSuggestion {
        color: rgb(198, 198, 198);
    }
}
.active {
    opacity: 1;
    height: 312px;
    transition:
        height,
        opacity,
        0.3s ease;
}

.ingredientSuggestion {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 1rem;
    font-size: $text-size-16;
    background-color: $third-color;
    border-bottom: 1px solid #ece9e8;
    box-sizing: border-box;
}
