@use "../../../assets/scss/" as *;

.suggestions {
    z-index: 11;
    top: 3rem;

    width: 100%;
    height: 0;
    padding: 0 .75rem;
    box-sizing: border-box;
    opacity: 0;
    background-color: white;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.5rem;

    transition:
        opacity 0.3s ease,
        padding 0.3s ease,
        height 0.3s ease;
    .activeSuggestion {
        color: $dark-gray;
    }
    & :hover {
        background-color: $second-color;
    }
    & :active {
        background-color: $second-color;
    }
    .inactiveSuggestion {
        color: rgb(198, 198, 198);
    }
}
.active {
    opacity: 1;
    padding: 0.75rem;
    height: 16rem;
    transition:
        opacity 0.4s ease,
        padding 0.4s ease,
        height 0.4s ease;
}

.ingredientSuggestion {
    border-radius: 1rem;
    width: 100%;
    min-height: 2.5rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    margin: 0;
    padding: 0 1rem;
    font-size: $text-size-16;
    background-color: white;
    box-sizing: border-box;
}
.lockedSuggestion {
    font-weight: 500;
    color: $dark-gray;
    background-color: $second-color;
}
.ingredientSuggestion:hover {
    cursor: pointer;
}
