@use "../../assets/scss/" as *;

.settingsPage {
    scale: .8;
    transition: scale 0.45s cubic-bezier(0.08,0.82,0.17,1);

    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: $size-16;
    padding-top: 0;
    .fakeContent {
        width: 100%;
        height: $height-80;
        background-color: $second-color;
        border-radius: $size-16;
        margin-bottom: $size-16;
    }
    
}
.animateSettings {
    scale: 1;
    transition: scale 0.45s cubic-bezier(0.08,0.82,0.17,1);
}
