@use "../../assets/scss/" as *;

header {
    display: flex;
    align-items: center;
    padding: 1rem;
    padding-bottom: .5rem;
    gap: .5rem;
    h1 {
        color: $dark-gray;
        font-weight: 600;
        margin: 0;
    }
    .menu {
        display: flex;
        height: 40px;
        width: 40px;
        align-items: center;
        justify-content: center;
        color: $dark-gray;
        border: none;
        background-color: transparent;
    }
}
