@use "../../assets/scss/" as *;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.25rem;
    padding-right: 1rem;
    padding-bottom: 0.75rem;
    h1 {
        font-family: "Poppins";
        font-size: $text-size-24;
        line-height: 100%;
        color: $dark-gray;
        font-weight: 600;
        margin: 0;
    }
    .rightItems {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: .5rem;

        .menu {
            display: flex;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
            color: $dark-gray;
            border: none;
            background-color: transparent;
        }
    }
}
